.panel-header
{
	background: #f0f0f0;
}
.btn-info
{
	background-color:#0172bb;
}

.card{
	box-shadow:none;
	border:1px solid #ddd;
}
._bttn button
{
		width:100px;
		margin-bottom:10px;
		float:right;
}
.table-responsive{
	overflow:auto;
}