<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Employee List</h4>
                    <!-- {{users|json}} -->
                </div>

                <div class="card-header">
                    <button class="btn btn-sm btn-info" type="button" [routerLink]="['/employee/add']">Add New employee</button> 
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>  ID </th>
                                <th> First Name </th>
                                <th> Last Name </th>
                                <th> Email </th>
                                <th>Created Date</th>                                
                                <th> Status </th>                                                         
                                <th class="text-right"> Action </th>
                            </thead>
                            <tbody *ngFor="let employee of employeeList">
                                <tr>
                                    <td> {{employee.id}} </td>
                                    <td> {{employee.emp_firstname}} </td>
                                    <td> {{employee.emp_lastname}} </td>
                                    <td> {{employee.emp_email}} </td>
                                    <td> {{employee.created_date}} </td>                                  
                                    <td> {{employee.status}} </td>                             
                                                                        
                                    <td class="text-right">
                                        
                                        <button  class="btn btn-sm btn-info" type="button" [routerLink]="['/jobseeker/view/',employee.id]">View</button>  &nbsp;&nbsp; 
                                        <!-- <button class="btn btn-sm btn-info" type="button" (click)="deleteCustomer(employee.customer_id)">Delete</button> -->                  
                                    </td>
                                </tr>                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
