 <!-- footer start -->
         <footer class="footer innerFooter">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-12">
                     <a href="javascript:void(0)"><img src="./../../assets/img/web/logo-light.png" height="20" alt=""></a>
                    
                    
                  </div>
                  <div class="col-lg-4 col-md-4 col-12 text-center">
                      <p class="mb-0" style="line-height: 30px;">© 2019 All Right Reserved. MyjobList</p>
                  </div>
                  <div class="col-lg-4 col-md-4 col-12 ">
                     <ul class="social-icon social list-inline mb-0">
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-google"></i></a></li>
                     </ul>
                  </div>
                 
               </div>
            </div>
         </footer>
         
         <!--end footer-->
         <!-- Footer End -->