<app-employers-header></app-employers-header>


<!-- mid section -->   
     
     
      <div id="content" class="InnerContent">
         <div class="menu-trigger"><img src="../../../assets/img/web/menuicon.png" class="img-responsive"></div>
         <!-- Start Home -->
         <section>
           <div class="_sliderBg">
               <div class="">
                  
                  <img src="../../../assets/img/web/employerBg.jpg" class="img-responsive">
                  <div class="container">
                     <div class="placementContent">
                        <div class="_content">
                           <h4>Placement Plus Service</h4>
                           <p> From Only <sup>$</sup><b>599</b></p>
                        </div>
                        <ul>
                           <li>$0 upfront fee. Only pay on placement</li>
                           <li>Advertise across all major job boards.</li>
                           <li>Search candidates from our extensive database</li>
                           <li>Shortlisting of candidatess</li>
                           <li>Phone Interviews</li>
                           <li>Refrence Checks</li>
                           <li>Face-to-face interviews scheduling</li>

                        </ul>

                        <a href="#" class="btn btn-primary">Contact us to learn more</a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- end home -->
         
         <section class="serviceBox">
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                     <div class="serviceBox_item">
                        <img src="./../../assets/img/web/profiles.png" class="img-responsive">
                        <h4>Send us your job </h4>
                        <a href="" class="btn btn-primary">Click Here</a>
                     </div>
                  </div>
                   <div class="col-md-4">
                     <div class="serviceBox_item">
                        <img src="./../../assets/img/web/profiles.png" class="img-responsive">
                        <h4>Send us your job </h4>
                        <a href="" class="btn btn-primary">Click Here</a>
                     </div>
                  </div>
                   <div class="col-md-4">
                     <div class="serviceBox_item">
                        <img src="./../../assets/img/web/profiles.png" class="img-responsive">
                        <h4>Send us your job </h4>
                        <a href="" class="btn btn-primary">Click Here</a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      
         
        <app-employee-footer></app-employee-footer>
         <!-- Footer End -->
     
      </div>
      
<!--- end -->


 

 <!-- Back to top -->
      <a href="#" class="back-to-top rounded text-center" id="back-to-top"> 
      <i class="mdi mdi-chevron-up d-block"> </i> 
      </a>
      <!-- Back to top -->