<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Job Apply Detail</h5>
                </div>
                <div class="card-body">
                   
                        <div class="row">

          
                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Job Title</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.job_register.job_title:''}}" name="job_title" >
                        		</div>
                        	</div>


                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Job Description</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.job_register.job_description:''}}">
                        		</div>
                        	</div>


                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Job Skill</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.job_register.job_skill:''}}">
                        		</div>
                        	</div>


                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Job Type</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.job_register.Job_type:''}}">
                        		</div>
                        	</div>







                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Company Name</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.job_register.company_master.company_name:''}}">
                        		</div>
                        	</div>

                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Company Email</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.job_register.company_master.email:''}}">
                        		</div>
                        	</div>

                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Company Address</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.job_register.company_master.company_address:''}}">
                        		</div>
                        	</div>

                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>City</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.job_register.company_master.city:''}}">
                        		</div>
                        	</div>
                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>State</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.job_register.company_master.state:''}}">
                        		</div>
                        	</div>

                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Contact Number</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.job_register.company_master.phone_number:''}}">
                        		</div>
                        	</div>
                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Employee First Name</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.emp_firstname:''}}">
                        		</div>
                        	</div>

                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Employee Last Name</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.emp_lastname:''}}">
                        		</div>
                        	</div>

                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Employee Email</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.emp_email:''}}">
                        		</div>
                        	</div>
                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Employee Job Title</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.employee_history.emp_job_title:''}}">
                        		</div>
                        	</div>

                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Job Started Month</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.employee_history.job_started_month:''}}">
                        		</div>
                        	</div>
                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Job Started Year</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.employee_history.job_started_year:''}}">
                        		</div>
                        	</div>

                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Job End Month</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.employee_history.job_end_month:''}}">
                        		</div>
                        	</div>
                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Job End Year</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.employee_history.job_end_year:''}}">
                        		</div>
                        	</div>

                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Home Location</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.employee_history.home_location:''}}">
                        		</div>
                        	</div>

                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Preferred Qualification</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.employee_history.preferred_classification:''}}">
                        		</div>
                        	</div>

                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Sub Qualification</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.employee_history.sub_classification:''}}">
                        		</div>
                        	</div>


                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Employee Contact</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.employee_history.phone_number:''}}">
                        		</div>
                        	</div>
                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Skil Set</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.employee_history.skill_set:''}}">
                        		</div>
                        	</div>
                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Aannual Salary</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.employee_history.annual_salary:''}}">
                        		</div>
                        	</div>
                        	<div class="col-md-6 pl-1">
                        		<div class="form-group">
                        		
                        			<label>Year Of Exp.</label>
                        			<input type="text" class="form-control" id="job_title" placeholder="Enter Job Title" value="{{(registered_job | json) != '{}'?registered_job.employer.employee_history.year_of_exp:''}}">
                        		</div>
                        	</div>


                        	<div class="col-md-4 pl-1">
                                <div class="form-group _downloadPolicy">
                                   
                                     

      <label class="_bttnHover" (click)="downloadp(registered_job.employer.employee_history.emp_resume)">Download Resume</label>
                                      
                                    
                                </div>
                            </div>



                           

                          
                        </div>
                  

                  
                </div>
            </div>
        </div>
    </div>
</div>