.sidebar.abcdf:after{
	background-color:#fff !important;
}
.sidebar .nav li > a{
color:#000 !important;	
}

.panel-header
{
	background: #f0f0f0;
}
.btn-info
{
	background-color:#1e87f0;
}

.card{
	box-shadow:none;
	border:1px solid #ddd;
}