<div class="topTitle">
    <a [routerLink]="'/'">
        Client Name
    </a>

      <div class="menuicon">
          <a href="javascript:void(0);"><img src="./assets/img/menu.png"/></a>
      </div>
   
   <!--  <a href="#" class="simple-text logo-normal">
        Eviden
    </a> -->
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
<div class="logo">
    <a [routerLink]="'/'" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/img/eviden.png"/>
      </div>
    </a>
   <!--  <a href="#" class="simple-text logo-normal">
        Eviden
    </a> -->
</div>
