.Logodetails{position: absolute;
    left: 20px;
    top: -100px;
    height: 100px;
    width: 100px;
    border: 1px solid #ddd;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;}
.job-detail-content{position:relative;}
.jobDetails{
	    margin-top: 40px;
}